.card-wrapper {
    width: 100%;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.502);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    translate: transform 0.1s ease-out;
}

.card-wrapper:hover {
    transform: scale(1.02);
}

.card-wrapper>img {
    width: 100%;
    border-radius: 10px;
    height: 80%;
    object-fit: cover;
}